@charset "utf-8";
#content {
  background-color: rgb(230, 230, 230);
  border: black 1px dotted;
  padding: 10px;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
